@import "tailwindcss";
@import './component/advCrash/AdvancedCrash.css';
@import './component/downloadExt/index.css';
@import './component/footerSection/index.css';
@import './component/header/index.css';
@import './component/fEQ/index.css';
@import './component/ourPowerful/index.css';
@import './component/seeAction/seeaction.css';
@import './component/heroSection/index.css';


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1120px;
  --breakpoint-2xl: 1236px;
}


:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #000002;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/Protocol.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/font/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Thin-Trial.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Semi-Bold-Trial.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'APK Protocol';
  src: url('../src/assets/font/APK-Protocol-Extra-Bold-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@layer utilities {
  .growingstabtn {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: linear-gradient(0deg, #3B42E8, #3B42E8),
    linear-gradient(180deg, #3B42E8 0%, #3B42E8 100%);
    border-image-source: linear-gradient(180deg, rgba(88, 128, 235, 0.15) 0%, rgba(59, 66, 232, 0.15) 100%);
    box-shadow: 0px 3.71px 4.85px 0px rgba(59, 66, 232, 0.15);
    box-shadow: 0px 10.27px 13.4px 0px rgba(59, 66, 232, 0.22);
    box-shadow: 0px 24.72px 32.26px 0px rgba(59, 66, 232, 0.19);
    box-shadow: 0px 42px 107px 0px rgba(59, 66, 232, 0.34);
    box-shadow: 0px 1px 4px 2px rgba(223, 224, 255, 1) inset;
    box-shadow: 0px 1px 18px 2px rgba(207, 209, 255, 1) inset;
    font-family: 'Figtree';
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .growingstabtn{
    @apply text-[11px] sm:text-[12px] md:text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] py-2 pl-3 md:pl-4 lg:pl-5 xl:pl-6 pr-2;
  }

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .scroll-container {
    display: flex;
    overflow: hidden;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    animation: infinite-scroll 40s linear infinite;
    position: relative;
    z-index: 10;
  }

  .header {
    position: fixed;
    top: 0%;
    z-index: 998;
    transition: 0.5s;
    transition: background 0.4s ease, padding 0.4s ease;
    opacity: 0;
    animation: slideUp 0.6s 0.4s ease forwards;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 0%;
    padding-right: 0%;
  }

  .header.scrolled {
    background: #15161b7e;
    opacity: 10%;
    transition: 0.5s;
    backdrop-filter: blur(10px);
    padding-left: 3%;
    padding-right: 3%;
  }
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .Link-manu-bar {
    font-family: 'Poppins';
    @apply font-normal text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] leading-[140%];
  }
  .Link-manu-bar {
    @apply text-[10px] sm:text-[11px] md:text-[12px] lg:text-[13px] xl:text-[13px] 2xl:text-[14px] duration-300 text-[#C6C3D2]  hover:text-[#fff];
  }

}